input[name=clave],input[name=usuario],input[name=dni],input[name=nombre],input[name=apellido],input[name=email]
{
	width: 110%;
}
input[name=fechaNac]
{
	width: 113%;
}
input[name=calle]
{
	width:123%;
}
input[name=id_producto]
{
	width: 30%;

}
input[name=nombre_producto],select[name=nombre_categoria]
{
	width:110%;
}
input[name=stock],input[name=precio]
{
	width:40%;
}
input[name=fechae]
{
	width:80%;
}
input[name=horae]
{
	width:50%;
	margin-left:1vw;
}
label[name=horaec]
{
	margin-left:1vw;
}
select[name=formapago],label[name=forma]
{
	width:50%;
	margin-left:-3vw;
}
input[name=numc]
{
	margin-top: 5.2vh;
	margin-left: 1vw;
	width:80%;
}
input[name=dptoc]
{
	width:80%;
}
input[name=pisoc]
{
	
	margin-left: 0.5vw;
	width:80%;
}
div[name=pri]
{
	margin-left: 4vw;
}
#msjmail /* se usa para el envio de mailde contacto*/
{
	height:20vh;
}
.error /*msj de error que falta completar*/
{
	color:red;	
}
.centrar /* se usa para centrar abm usuario. propductos e informesventa*/
{
	margin-left:5vw;
}
.leerMas /*en el index*/
{
	width:50%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:1vw;
}
#btnO /*boton olvide clave */ 
{
	color:green;
}
.col33 /*card prodcutosec y buscar*/
{
	width:30%;
	float:left;
	text-align:center;
	margin-left:5vw;
	margin-right:2vw;
	margin-top:2vh;
	margin-bottom:2vh;
	padding-top:5px;
	padding-bottom:10px;	
}
.col33ca /* carrito*/
{
	width:30%;
	float:left;
	text-align:left;
}
.col20Prod /*productos*/
{
	width:20%;
	float:left;
	text-align:center;
	margin-right:1vw;
	margin-top:2vh;
	margin-bottom:2vh;
	padding-top:5px;
	padding-bottom:10px;	
}
.izq /*productos */
{
	margin-left:3vw;
}
.mar /* homeadmin*/
{
	margin-left:10vw;
}
.es  /*abmussec, carrito*/
{
	margin-left:60px;
}
.espacio2 /*abmussec, registrar*/
{
	margin-right:12px;
}
.esp /*abmprodsec, abmussec, registrar*/
{
	margin-right:5vw;
}
.textoblanco /*abmussec,registrar*/
{
	color:white;
}
#reg /*formulario de registrar*/
{
	margin-left:auto;
	margin-right:auto;
}
.top /*se usa */
{
	margin-top:5vh;
}
.aa /*carritoboton*/
{
	margin-left:52vw;
}
#botonReg /*registrar*/
{
	margin-left:auto;
	margin-right:5vw;
}
.cardProducto /*buscar, productos,prodsec*/
{
	margin-bottom:3vh;
	width: 23vw;
	height: 68vh;
}
.primeroCard /*buscar, prodsec*/
{

	height:10vh;
	margin-bottom:2vh;
}
.terceroCard /*prodsec*/
{
 	height:10vh;
}
.imgPr /*abmprodsec,buscar, prodsec*/
{
	height:30vh;
	padding-top:3vh;
	padding-left:3vw;
	padding-right:3vw;	
}
.imgPro /*abmprodsec */
{
	height:20vh;
}
.col40 /*abmprodsec, abmususec, registrar*/
{
	width:40%;
	float:left;
}
.col36 /* registrar*/
{
	width:36%;
}
.col50 /*registrar*/
{
	width:50%
}
.cardProm /*promociones*/
{
	width:30vw;
	margin-bottom:1vw;
}
.cardIzq/*promociones*/
{
	margin-left:15vw;
}
.cardDer /*promociones*/
{
	margin-left:10vw;
}
.col50in /*index*/
{
	width:30%;
	margin-left: 17vw;
	margin-right:0vw;
	margin-top:5vh;
}
#col50d /*index*/
{
	margin-left: 3vw;
	margin-right:15vw;
	
}
.col15 /*abmussec,registrar,carrito*/
{
	width:15%;
	float:left;
}
#agregarProd, #agregarUsu /*abmprod,abmusu*/
{
	float:right;
	margin-bottom:2vh;
}
.titPro /*buscar,prodsec*/
{
	text-align:center;
	margin-top:3vh;
}
#titulo2 /*indx*/
{
	text-align:center;
	margin-bottom:2vh;
}
.titInicio /*se usa*/
{
	text-align:center;
	font-size:20px;
}
.imgP/*prodc*/
{
	width:20%;
	height:40vh;
	margin-bottom:10vh;
}
.imgI /*index,promociones*/
{
	width:20vw;
	height:20vh;
	margin-top:2vh;
	margin-left:5vw;
	margin-right:5vw;
}
#somos/*index*/
{
	padding-left:200px;
	padding-right:200px;
	margin-bottom:5vh;
}
#textoIndex /*index*/
{
	text-align:justify;
	padding-left:10vw;
	padding-right:10vw;
}
.cuerpo /*se usa*/
{
	padding-bottom: 10vh;
	padding-top: 5vh;
	overflow:hidden;
}
#cartas/*index*/
{
	margin-bottom:10vh;
}
#gps /*index*/
{
	text-align:center;

}
ul,li /*nav*/
{ 
	display:inline; 
}
li /*nav*/
{
	margin-left:25px;
	margin-right:50px;
}

footer/*se usa*/
{
	border-top:solid 1px black;
  	width: 100%;
	background-color:#343A40;
	position: fixed;
	bottom: 0;
	left:0;
}
.footer-container /*se usa*/
{
	width: 100%;
	background-color:#343A40;	
}
.footer-main/*se usa*/
{
	width:100%;
	max-width:100%;
	display:flex;
	flex-wrap: wrap;
	justify-content:space-between;
	padding:10px 0;
}
.footer-main .footer-columna/*se usa*/
{
	background-color:#343A40;
	color:rgba(255,255,255,.5);
	width:calc(100% / 3);
	text-align:center;
}
.footer-main .footer-columna:nth-child(1) /*se usa*/
{
	padding: 0 50px;
}
.footer-main .footer-columna:nth-child(2)/*se usa*/
{
	padding: 0 20px;
}
#btnR /*login*/
{
	margin-left:8vw;
	margin-top:2vh;
}
#btnI/*login*/
{
	margin-left:8vw;
	margin-top:2vh;
}
.formulario /*se usa*/
{
	margin-top:5vh; 
	margin-left:30vw;
	margin-right:30vw;
}
.formAbmProductos/*abmprod,informes,pedido*/
{
	margin-top:5vh; 
	margin-left:20vw;
	margin-right:20vw;
}
.verde /*se usa*/
{
	color:green;
}
#contador /*index*/
{
	background-color:green;
	color:white;
	width:18vw;
	margin-top: 2vh;
	margin-bottom: -8vh;
	text-align: center;
	padding: 1vh 1vw;
	margin-left: 3vw;
}
.color /* para fondos cuando esta seleccionado*/
{
	color:green !important;
	
}

