.colu33
{
	width:33.3%;
	float:left;
	text-align:center;
	padding-top:5px;
	padding-bottom:10px;	
}
.espacio2
{
	margin-right:12px;
}
.esp
{
	margin-right:5vw;
}
#formIniciarSesion
{ 
	margin-left:30vw;
	margin-right:30vw;
}
#formContacto
{
	margin-left:30vw;
	margin-right:30vw;
}
.textoblanco
{
	color:white;
}
#reg
{
	margin-left:auto;
	margin-right:auto;
}
.top /* lo use en login*/
{
	margin-top:5vh;
}
.col40
{
	width:40%;
	float:left;
}
.col50
{
	width:50%;
}
.col15
{
	width:15%;
	float:left;
}
.col20
{
	width:20%;
	float:left;
	padding-left:50px;
}
.collog
{
	float:right;
	margin-right:5%;
	margin-top:2%;
}
#tabla
{
	margin-left:25%;
}
.seg
{
	margin-left:50%;
}
#sesion
{
	font-size:20px;
	margin-left:50%;
}
#titulo
{
	width:35%;
	height:100px;
}
#titulo2
{
	color:blue;
	text-align:center;
}
.titInicio
{
	text-align:center;
}
.precio
{
	color:red;
}
.imgPr
{
	width:20vh;
	height:25vh;	
}
.imgP
{
	width:33.3%;
	height:50vh;
}
.imgI
{
	width:25vw;
	height:30vh;
	margin-left:15vw;
}
#somos
{
	padding-left:200px;
	padding-right:200px;
}
.marketing
{
	margin-left:25vw;
}
.marketing.col-lg-4
{
	margin-bottom:20px;
	text-align:center;
}
.col-lg-4
{
	position:relative;
	min-height:1px;
	padding-left:15px;
	padding-right:15px;
}
#lupa
{
	width:25%;
	margin-left:75%;
}
.header
{
	border-bottom:solid 1px black;
}

.cuerpo
{
	padding-bottom: 15vh;
	padding-top: 5vh;
}
ul,li
{ 
	display:inline; 
}

li 
{
	margin-left:25px;
	margin-right:50px;
}
.links
{
	text-decoration:none;
	color:black;
	font-size:20px;
}
footer
{
	border-top:solid 1px black;
  	width: 100%;
	background-color:#343A40;
	position:absolute;
	bottom: 0;
	left:0;
	
}
.footer-container
{
	width: 100%;
	background-color:#343A40;
	
	
}
.footer-main
{
	width:100%;
	max-width:100%;
	display:flex;
	flex-wrap: wrap;
	justify-content:space-between;
	padding:10px 0;
	
}
.footer-main .footer-columna
{
	background-color:#343A40;
	color:rgba(255,255,255,.5);
	width:calc(100% / 3);
	text-align:center;
}
.footer-main .footer-columna:nth-child(1)
{
	padding: 0 50px;
}
.footer-main .footer-columna:nth-child(2)
{
	padding: 0 20px;
}
html {
  min-height: 100%;
  position: relative;
}
body
{
	margin: 0;
	margin-bottom: 20px;
}
